
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-family: "Inter", serif;
    transition: all 0.4s ease;
    text-decoration: none;
    font-weight: 600;
    color: inherit;
    cursor:default;
}
header{
    background-color: #F3F8FF;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
}
header img{
    width: 100%;
    height: 18vh;
    margin-right: 0.5vw;
    display: flex;
    cursor: pointer;
}
header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    color: #4335DE;
    font-size: 1.2vw;
}
nav p{
    cursor: pointer;
    height: 4vw;
    align-items: center;
    display: flex;
    width: 7vw;
    justify-content: center;
}
nav p:hover{
    font-weight: 800;
    border-bottom: 3px solid #4335DE;
    transition: all 0.1s ease;
   
}

.div_entradas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 17.5vw;
}
.div_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width: 7vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: #4335DE;
}
.login:hover{
    font-weight: 800;
}
.registrar{
    width: 10vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 3px solid #4335DE;
    align-items: center;
    border-radius: 3vw;
    cursor: pointer;
    color: #4335DE;
}
.registrar:hover{
    background-color: #4335DE;
    color: white;
    font-weight: 800;
    transition: all 0.6s ease;


}


body{
    background-color: #F3F8FF;
}