
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Para navegadores baseados em WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 8px; /* Define a largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do fundo da barra */
    border-radius: 10px; /* Cantos arredondados da trilha */
}

::-webkit-scrollbar-thumb {
    background: #FFC247; /* Cor do botão de rolagem */
    border-radius: 10px; /* Cantos arredondados */
}

::-webkit-scrollbar-thumb:hover {
    background: #e6a739; /* Cor ao passar o mouse */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-family: "Inter", serif;
    transition: all 0.4s ease;
    text-decoration: none;
    font-weight: 500;
    color: inherit;
    cursor:default;
}
header{
    background-color: #F3F8FF;
    width: 100%;
    height: 10vh;
    display: flex;
    z-index: 1;
    position: fixed;
    background: linear-gradient(to bottom, #F3F8FF, #E7EFFA);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    justify-content: space-around;
}

.img_trem{
    width: 7vw;
    height: 18vh;
    margin-right: 0.5vw;
    display: flex;
    cursor: pointer;
}
.logo_texto{
    width: 8.8vw;
    height: 18vh;
    margin-right: 0.5vw;
    display: flex;
    cursor: pointer;
}
.navbar.hidden {
    transform: translateY(-100%);
}
header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    color: #02033B;
    font-size: 1.2vw;
}
nav p{
    cursor: pointer;
    height: 4vw;
    align-items: center;
    display: flex;
    width: 7vw;
    justify-content: center;
}
nav p:hover{
    font-weight: 800;
    border-bottom: 3px solid #4335DE;
    transition: all 0.1s ease;
    color: #4335DE;
   
}

.div_entradas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 17.5vw;
}
.div_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width: 7vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: #4335DE;
}
.login:hover{
    font-weight: 800;
}
.registrar{
    width: 10vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 3px solid #4335DE;
    align-items: center;
    border-radius: 3vw;
    cursor: pointer;
    color: #4335DE;
}
.registrar:hover{
    background-color: #4335DE;
    color: white;
    font-weight: 800;
    transition: all 0.6s ease;
}
.section_inicio{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;
    background-image: url(../assets/circulo_background.png);
    background-repeat: no-repeat;
    background-position: -5vw;
}
.div_controle{
    display: flex;
    flex-direction: column;
    color: #02033B;
    width: 40vw;
    height: 70vh;
    margin-right: 3vw;
}
.div_controle h1{
    font-size: 5vw;
    margin-bottom: 3vw;
}
.div_controle p{
    font-size:1.6vw;
    margin-bottom: 2vw;
}
.div_controle span{
    font-weight: 800;
}
.div_celular{
    width: 40vw;
    box-shadow: -25px -25px 0px #4335DE;
    height: 80vh;
    background-image: url(../assets/menino_celular.png);
}
.div_celular img{
    width: 40vw;
    margin-left: -7vw;
}
.box_controle{
    display: flex;
    width: 27vw;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    align-self: center;
}

.box_controle a{
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    font-weight:600;
    cursor: pointer;

}
.quero_ser_cliente{
    width: 15vw;
    background-color: #FFC247;
}
.quero_ser_cliente:hover{
    font-weight: 800;
}
.ja_sou_cliente{
    width: 10vw;
    border: 2.2px solid #02033B;
}
.ja_sou_cliente:hover{
    border: none;
    background-color: #FFC247;
    font-weight: 900;
}
body{
    background-color: #F3F8FF;
}
.section_conheca{
    width: 100%;
    height: 90vh;
    background-color: #F7C95F;
    background-color: linear;
    background: linear-gradient(to bottom, #F7C95F, #FDB235);
    display: flex;
    justify-content: center;
    color: #02033B;
    flex-direction: column;
    align-items: center;
}
.box_conteudo_conheca{
    display: flex;
}
.box_title_conheca{
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8vw;
    font-size: 1.7vw;
    height: 7vh;
    margin-top: -1vw;
    align-self: flex-start;
    margin-left: 5vw;
    background-color:#E7EFFA;
}
.box_conheca{
    width: 35vw;
    height: 70vh;
    padding-top: 2vw;
}
.box_conheca h3{
    font-size: 2.6vw;
    width: 30vw;
    font-weight: 800;
    margin-bottom: 3vw;
}
.box_conheca p{
    font-size: 1.5vw;
    width: 30vw;
    margin-left: 2vw;
}
.box_saiba{
    width: 38vw;
    height: 70vh;
    background-color: white;
    border-radius: 1vw;
}
.box_saiba img{
    width: 26vw;
    margin-left: 2vw;
    margin-top: 2.3vw;   box-shadow: 
    20px -10px 0px #e6a739, /* Sombra à esquerda */
    10px -10px 0px #e6a739, /* Sombra no topo */
    20px 10px 0px #e6a739; /* Sombra em baixo */
}
.box_saiba p{
    cursor: pointer;

}
.box_saiba div{
    width: 15vw;
    height: 5vh;
    background-color: #4335DE;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    align-items: center;
  justify-self: flex-end;
  margin-top: 1.3vw;
  border-radius: 5vw;
    cursor: pointer;
  margin-right: 5vw;
}
.button_conheca:hover{
    font-weight: 800;
    transform: scale(1.02);
}
.button_conheca p:hover{
    font-weight: 800;
}
.button_conheca span:hover{
    font-weight: 800;
}
.box_saiba span{
    font-weight: 800;
    cursor: pointer;
}
.section_home_suporte{
    width: 100%;
    height: 88vh;
    background-color: #4335DE;
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding-top: 6vw;
}
.conteudo_home_suporte{
    width: 40vw;
    height: 50vh;
}
.conteudo_home_suporte h4{
    font-size: 3vw;
    margin-bottom: 1.5vw;
}
.conteudo_home_suporte p{
    font-size: 2vw;
    margin-bottom: 3vw;
}
.conteudo_home_suporte span{
    font-size: 1.3vw;
    justify-self: flex-end;
    cursor: pointer;
    align-self: flex-end;
    margin-left: 23vw;
    color: #02033B;
    border: 2px solid #e6a739;
    margin-bottom: 2vw;
    background-color: white;
    padding: 1vw;
    height: 10vh;
    border-radius: 2vw;
}
.conteudo_home_suporte span:hover{
    background-color: #e6a739;
    border: none;
    color: white;
    font-weight: 800;
}
.home_suporte_imagem{
    width: 20vw;
    box-shadow: 20px -20px 0px #e6a739;


    overflow: hidden;

    height: 20vw;
    border-radius: 2vw;
    transform: rotate(45deg);
}
.homem_suporte{
    width: 50vw;
    margin-top: -9vw;
    margin-left: -15vw;
    transform: rotate(-45deg); /* Corrige a rotação da imagem */
    
}

footer{
    width: 100%;
    height: 80vh;
    background-color: #E7EFFA;
    display: flex;
    justify-content: center;
}
.section_footer{
    width: 90vw;
    height: 75vh;
    border-radius: 2vw;
    background-color: #02033B;
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
}
.container_caixas_footer{
    width: 80vw;
    margin-top: -8vw;
display: flex;
justify-content: space-around;
align-items: center;
    height: 40vh;
}
.box_footer{
    height: 35vh;
    width: 25.5vw;
    border-radius: 2vw;
    color: #02033B;
    background-color: white;
}
.container_formulario{
    display: flex;
    align-items: center;
    width: 80vw;
    height: 50vh;
    justify-content: space-around;
    align-items: center;
}
.box_entrarcontato{
width: 30vw;
height: 39vh;
}
.box_entrarcontato h3{
    font-size: 2vw;
    margin-bottom: 2vw;
}
 
.caixa_redes{
    height: 10vh;
    display: flex;
    justify-content: start;
    align-items: start;
}
.rede_social{
    width: 2.2vw;
    cursor: pointer;
    margin-bottom: 10vw;
    
}
.box_formulario_footer{
    width: 40vw;
    height: 40vh;
    display: flex;
    padding: 2vw;
    flex-direction: column;
}
.box_formulario_footer p{
    font-size: 1.5vw;
}
.box_formulario_footer input{
    width: 17vw;
    cursor: text;
    border: none;
    height: 5vh;
    border-bottom: 2px solid #4335DE;
    border-radius: 0.8vw;
    padding: 1vw;
    background-color: none;
}
.box_formulario_footer input::placeholder{

}
.box_nome_email{
    width: 100%;
    display: flex;
    justify-content: space-between;

    margin-bottom: 1vw;
}
.box_formulario_footer textarea{
    width: 100%;
    height: 10vh;
    border: none;
    border-bottom: 2px solid red;
    padding-left: 1vw;
    padding-top: 1vw;
    cursor: text;
    resize: none;
    margin-bottom: 1vw;
    
    border-bottom: 2px solid #4335DE;
    border-radius: 0.8vw;
}
.box_formulario_footer button{
    border: none;
    height: 10vh;
    border-radius: 0.5vw;
    cursor: pointer;
    background-color: #4335DE;
    font-size: 1.5vw;
}
.box_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1vw;
}
.box_footer img{
    width: 5vw;
    margin-bottom: 1vw;
}
.box_footer h4{
    font-size: 1.5vw;
    margin-bottom: 0.2vw;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 900;
}
.box_footer p{
    font-size: 1.4vw;
    padding: 1vw;
}