@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Para navegadores baseados em WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 8px;
    /* Define a largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Cor do fundo da barra */
    border-radius: 10px;
    /* Cantos arredondados da trilha */
}

::-webkit-scrollbar-thumb {
    background: #FFC247;
    /* Cor do botão de rolagem */
    border-radius: 10px;
    /* Cantos arredondados */
}

::-webkit-scrollbar-thumb:hover {
    background: #e6a739;
    /* Cor ao passar o mouse */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-family: "Inter", serif;
    transition: all 0.4s ease;
    text-decoration: none;
    font-weight: 500;
    color: inherit;
    cursor: default;
}

header {
    background: linear-gradient(to bottom, white, #E7EFFA);
    width: 100%;
    height: 10vh;
    display: flex;
    z-index: 11;
    position: fixed;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    justify-content: space-around;
}

.img_trem {
    width: 7vw;
    height: 18vh;
    margin-right: 0.5vw;
    display: flex;
    cursor: pointer;
}

.logo_texto {
    width: 8.8vw;
    height: 18vh;
    margin-right: 0.5vw;
    display: flex;
    cursor: pointer;
}

.navbar.hidden {
    transform: translateY(-100%);
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    color: #02033B;
    font-size: 1.2vw;
}

nav p {
    cursor: pointer;
    height: 4vw;
    align-items: center;
    display: flex;
    width: 7vw;
    justify-content: center;
}

nav p:hover {
    font-weight: 800;
    border-bottom: 3px solid #4335DE;
    transition: all 0.1s ease;
    color: #4335DE;

}

.div_entradas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 17.5vw;
}

.div_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 7vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: #4335DE;
}

.login:hover {
    font-weight: 800;
}

.registrar {
    width: 10vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 3px solid #4335DE;
    align-items: center;
    border-radius: 3vw;
    cursor: pointer;
    color: #4335DE;
}

.registrar:hover {
    background-color: #4335DE;
    color: white;
    font-weight: 800;
    transition: all 0.6s ease;
}

.section_inicio {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 92vh;
    background-image: url(../assets/circulo_background.png);
    background-repeat: no-repeat;
    background-position: -5vw;
}

.div_controle {
    display: flex;
    flex-direction: column;
    color: #02033B;
    width: 40vw;
    height: 70vh;
    margin-right: 3vw;
}

.div_controle h1 {
    font-size: 5vw;
    margin-bottom: 3vw;
}

.div_controle p {
    font-size: 1.6vw;
    margin-bottom: 2vw;
}

.div_controle span {
    font-weight: 800;
}

.div_celular {
    width: 40vw;
    box-shadow: -25px -25px 0px #4335DE;
    height: 73vh;
    background-image: url(../assets/menino_celular.png);
    background-size: cover;
}

.div_celular img {
    width: 40vw;
    margin-left: -7vw;
}

.box_controle {
    display: flex;
    width: 27vw;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    align-self: center;
}

.box_controle a {
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    font-weight: 600;
    cursor: pointer;

}

.quero_ser_cliente {
    width: 15vw;
    background-color: #FFC247;
}

.quero_ser_cliente:hover {
    font-weight: 800;
}

.ja_sou_cliente {
    width: 10vw;
    border: 2.2px solid #02033B;
}

.ja_sou_cliente:hover {
    border: none;
    background-color: #FFC247;
    font-weight: 900;
}

body {
    background-color: #F3F8FF;
}

.section_conheca {
    width: 100%;
    height: 90vh;
    background-color: #F7C95F;
    background-color: linear;
    background: linear-gradient(to bottom, #F7C95F, #FDB235);
    display: flex;
    justify-content: center;
    color: #02033B;
    flex-direction: column;
    align-items: center;
}

.box_conteudo_conheca {
    display: flex;
}

.box_title_conheca {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8vw;
    font-size: 1.7vw;
    height: 7vh;
    margin-top: -1vw;
    align-self: flex-start;
    margin-left: 5vw;
    background-color: #E7EFFA;
}

.box_conheca {
    width: 35vw;
    height: 70vh;
    padding-top: 2vw;
}

.box_conheca h3 {
    font-size: 2.6vw;
    width: 30vw;
    font-weight: 800;
    margin-bottom: 3vw;
}

.box_conheca p {
    font-size: 1.5vw;
    width: 30vw;
    margin-left: 2vw;
}

.box_saiba {
    width: 38vw;
    height: 70vh;
    background-color: white;
    border-radius: 1vw;
}

.box_saiba img {
    width: 26vw;
    margin-left: 2vw;
    margin-top: 2.3vw;
    box-shadow:
        20px -10px 0px #e6a739,
        /* Sombra à esquerda */
        10px -10px 0px #e6a739,
        /* Sombra no topo */
        20px 10px 0px #e6a739;
    /* Sombra em baixo */
}

.box_saiba p {
    cursor: pointer;

}

.box_saiba div {
    width: 15vw;
    height: 5vh;
    background-color: #4335DE;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    align-items: center;
    justify-self: flex-end;
    margin-top: 1.3vw;
    border-radius: 5vw;
    cursor: pointer;
    margin-right: 5vw;
}

.button_conheca:hover {
    font-weight: 800;
    transform: scale(1.02);
}

.button_conheca p:hover {
    font-weight: 800;
}

.button_conheca span:hover {
    font-weight: 800;
}

.box_saiba span {
    font-weight: 800;
    cursor: pointer;
}



.section_missao {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    transition: all 4s ease-in;
    background-image: url(../assets/wave.svg);
    background-position: bottom;
    align-items: center;
    background-repeat: no-repeat;
}

.box_missao {
    width: 30vw;
    height: 40vh;
    border-radius: 4vw;
    border: 5px solid #E7EFFA;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    text-align: center;
    margin-left: 4vw;
    margin-right: 4vw;
}

.box_missao h4 {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;

    font-size: 2.4vw;
    font-weight: 700;
    color: #02033B;
}

.box_missao p {
    margin-top: 0.5vw;
    width: 26vw;
}

.icones {
    width: 8vw;
    height: 10vh;
    margin-top: 1vw;
}

.visao {
    background-image: url(../assets/icon_eye_blue.png);
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.missao {
    background-image: url(../assets/mission_icon_blue.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.box_missao:hover .missao {
    background-image: url(../assets/mission_icon_orange.png);
}

.box_missao:hover .visao {
    background-image: url(../assets/icon_eye_orange.png);
}

.box_missao:hover {
    color: #FFC247;
    transition: 0s;
}

.box_missao:hover h4 {
    color: #FFC247;
    transition: 0s;
}

.box_missao:hover p {
    color: #FFC247;
    transition: 0s;
}

.section_home_suporte {
    width: 100%;
    height: 88vh;
    background-color: #4335DE;
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding-top: 6vw;
}

.conteudo_home_suporte {
    width: 40vw;
    height: 50vh;
}

.conteudo_home_suporte h4 {
    font-size: 3vw;
    margin-bottom: 1.5vw;
}

.conteudo_home_suporte p {
    font-size: 2vw;
    margin-bottom: 3vw;
}

.conteudo_home_suporte span {
    font-size: 1.3vw;
    justify-self: flex-end;
    cursor: pointer;
    align-self: flex-end;
    margin-left: 23vw;
    color: #02033B;
    border: 2px solid #e6a739;
    margin-bottom: 2vw;
    background-color: white;
    padding: 1vw;
    height: 10vh;
    border-radius: 2vw;
}

.conteudo_home_suporte span:hover {
    background-color: #e6a739;
    border: none;
    color: white;
    font-weight: 800;
}

.home_suporte_imagem {
    width: 20vw;
    box-shadow: 20px -20px 0px #e6a739;
    overflow: hidden;
    height: 20vw;
    border-radius: 2vw;
    transform: rotate(45deg);
}

.homem_suporte {
    width: 50vw;
    margin-top: -9vw;
    margin-left: -15vw;
    transform: rotate(-45deg);
    /* Corrige a rotação da imagem */

}

footer {
    width: 100%;
    height: 80vh;
    background-color: #E7EFFA;
    display: flex;
    justify-content: center;
}

.section_footer {
    width: 90vw;
    height: 75vh;
    border-radius: 2vw;
    background-color: #02033B;
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
}

.container_caixas_footer {
    width: 80vw;
    margin-top: -8vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
}

.box_footer {
    height: 35vh;
    width: 25.5vw;
    border-radius: 2vw;
    color: #02033B;
    background-color: white;
}

.box_footer:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-10px);
}

.container_formulario {
    display: flex;
    align-items: center;
    width: 80vw;
    height: 50vh;
    justify-content: space-around;
    align-items: center;
}

.box_entrarcontato {
    width: 30vw;
    height: 39vh;
}

.box_entrarcontato h3 {
    font-size: 2vw;
    margin-bottom: 2vw;
}

.caixa_redes {
    height: 10vh;
    display: flex;
    justify-content: start;
    align-items: start;
}

.rede_social {
    width: 2.2vw;
    cursor: pointer;
    margin-bottom: 10vw;

}

.box_formulario_footer {
    width: 40vw;
    height: 50vh;
    display: flex;
    padding: 2vw;
    flex-direction: column;
}

.box_formulario_footer p {
    font-size: 1.5vw;
}

.box_formulario_footer input {
    width: 17vw;
    cursor: text;
    color: #02033B;

    border: none;
    height: 5vh;
    border-bottom: 2px solid #4335DE;
    border-radius: 0.8vw;
    padding: 1vw;
    background-color: none;
}

.box_formulario_footer input::placeholder {}

.box_nome_email {
    width: 100%;
    display: flex;
    justify-content: space-between;

    margin-bottom: 1vw;
}

.box_formulario_footer textarea {
    width: 100%;
    height: 10vh;
    border: none;
    color: #02033B;
    padding-left: 1vw;
    padding-top: 1vw;
    margin-top: 0.2vw;
    cursor: text;
    resize: none;
    margin-bottom: 1vw;

    border-bottom: 2px solid #4335DE;
    border-radius: 0.8vw;
}

.box_formulario_footer button {
    border: none;
    height: 10vh;
    border-radius: 0.5vw;
    cursor: pointer;
    background-color: #4335DE;
    font-size: 1.5vw;
}

.box_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1vw;
}

.box_footer img {
    width: 5vw;
    margin-bottom: 1vw;
}

.box_footer h4 {
    font-size: 1.5vw;
    margin-bottom: 0.2vw;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 900;
}

.box_footer p {
    font-size: 1.4vw;
    padding: 1vw;
}

.section_header_sobre {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10vw;
    background-image: url(../assets/circulo_background.png);
    background-repeat: no-repeat;
    background-position: -5vw;
    overflow: hidden;
    height: 80vh;
    color: #02033B;
}

.conteudo_sec_header {
    margin-left: 10vw;
    width: 40vw;
    height: 50vh;
    margin-top: 5vw;
}

.conteudo_sec_header h4 {
    font-size: 4vw;
    margin-bottom: 2vw;
    font-weight: 700;
}

.conteudo_sec_header span {
    font-weight: 700;
}

.conteudo_sec_header p {
    font-size: 1.8vw;
}

.img_sec_header {
    border-radius: 50%;
    width: 65vw;
    margin-top: 2vw;
    overflow: hidden;
    height: 105vh;
    transform: translate(5vw, 1vw) scale(1);
    background-image: url(../assets/equipe.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -10px -20px 0px #4335DE;
}

.section_sobre_empresa {
    width: 100%;
    height: 140vh;
    background: linear-gradient(to bottom, #e6a739, #ffd36b, #ffd36b, #ffd36b, #F3F8FF);
    display: flex;
    align-items: center;
    padding-top: 2vw;
    color: #02033B;
    flex-direction: column;
}

.section_sobre_empresa span {
    font-weight: 700;
}

.container_quem_somos {
    width: 80vw;
    height: 55.5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.box_quem_somos {
    width: 40vw;
    height: 30vh;
    font-size: 1.5vw;
}

.box_imagem_quem_somos {
    background-color: white;
    width: 30vw;
    height: 59vh;
    display: flex;
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
}

.box_imagem_quem_somos img {
    width: 25vw;
    box-shadow: 15px 15px 0px #4335DE;
}


.container_quem_somos2 {
    width: 80vw;
    height: 55.5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.box_quem_somos2 {
    width: 40vw;
    height: 30vh;
    text-align: right;
    font-size: 1.5vw;
}

.box_imagem_quem_somos2 {
    background-color: white;
    width: 30vw;
    height: 59vh;
    display: flex;
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
}

.box_imagem_quem_somos2 img {
    width: 25vw;
    background-color: purple;
    box-shadow: -15px 15px 0px #4335DE;
}

.title_sobre {
    align-self: flex-start;
    margin-left: 6vw;
    font-size: 3.5vw;
    margin-top: 2vw;
    font-weight: 700;
}

.section_valores {
    width: 100%;
    height: 100vh;
    padding-top: 3vw;
    display: flex;
    background: linear-gradient(to top, #ffffff, #E7EFFA);
    color: #02033B;
}

.container_valores {
    margin-left: 10vw;
    width: 44vw;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 2;
    flex-wrap: wrap;
    height: 80vh;
}

.box_valores {
    width: 21.5vw;
    height: 38vh;
    background-color: white;
    display: flex;
    padding-top: 2vw;
    text-align: center;
    flex-direction: column;
    border-radius: 0.6vw;
    align-items: center;
}

.box_valores:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-10px);
    color: #4335DE;
}

.box_valores h4 {
    font-size: 3vw;
    font-weight: 700;
    margin-bottom: 1.6vw;
}

.box_valores p {
    font-size: 1.6vw;
    width: 16vw;
    font-weight: 500;
}

.imagem_valores {
    position: absolute;
    width: 40vw;
    border-radius: 0.8vw;
    right: 16vw;
    background-color: #4335DE;
    z-index: 1;
    margin-top: 7vw;
}

.blob_valores {
    position: absolute;
    width: 61vw;
    margin-top: -10vw;
    right: 0vw;
}

.title_valores {
    font-size: 3.8vw;
    position: absolute;
    right: 11vw;
    margin-top: 2vw;
    font-weight: 700;
    color: white;
}

.section_equipe {
    width: 100%;
    height: 135vh;
    background-color: white;
    background: linear-gradient(to bottom, white, white, #E7EFFA);
    display: flex;
    padding-top: 2vw;
    align-items: center;
    flex-direction: column;
}

.title_equipe {
    font-size: 5vw;
    font-weight: 600;
    align-self: flex-start;
    margin-bottom: 0.2vw;
    margin-left: 5.5vw;
    color: #02033B;
}

.caixa_equipe {
    display: flex;
}

.imagem_equipe {
    margin-right: 3vw;
    width: 35vw;
    height: 90vh;
    background-image: url(../assets/joao.jpeg);
    background-size: cover;
    border-radius: 1.2vw;
    box-shadow: -17px 17px 0px #FDB235;
    border: 3px solid #02033B;
}

.container_equipe {
    width: 50vw;
    height: 90vh;
    border-top: 2px solid #02033B;
    color: #02033B;
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: space-around;
}

.box_equipe {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    width: 100%;
    height: 14.3vh;
    align-items: center;
    border-bottom: 2px solid #02033B;
}

.box_equipe img {
    width: 4vw;
    justify-self: end;
}

.box_equipe:hover {
    color: #FDB235;
    transition: all 0.1s ease;

    border-bottom: 2px solid #FDB235;
}

.box_equipe:hover .box_nome {
    font-weight: 700;
}

.box_equipe:hover .box_linkedin img {
    background-color: #FDB235;
    border: none;
}

.box_nome {
    width: 16.66666666666667vw;
    height: 14vh;
    display: flex;
    align-items: center;
    font-size: 1.5vw;
}

.box_cargo {
    width: 16.66666666666667vw;
    height: 14vh;
    font-weight: 600;
    display: flex;
    font-size: 1.5vw;
    justify-content: center;
    align-items: center;
}

.box_linkedin {
    width: 16.66666666666667vw;
    height: 14vh;
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    justify-content: end;
}

.box_linkedin img {
    padding: 1.15vw;
    border-radius: 0.5vw;
    border: 1px solid #d1d0d0;
    cursor: pointer;

}


/*ABA SERVIÇOS*/

.div_servicos {
    width: 40vw;
    box-shadow: -25px -25px 0px #4335DE;
    background-size: cover;
    height: 73vh;
    background-image: url(../assets/servicos.png);
}

.section_servicos {
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1vw;
    background-image: url(../assets/wave.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background: linear-gradient(to right, white, #f4f8fd, #ecf2fb, #ecf2fb, #ecf2fb);


}

.title_servicos {
    align-self: start;
    justify-self: start;
    margin-left: 11vw;
    font-size: 3.5vw;
    color: #4335DE;
    font-weight: 700;
    margin-bottom: 0.2vw;
    margin-top: 0.1vw;
}

.container_servicos {
    width: 80vw;
    height: 80vh;
    color: #02033B;
    background-color: #e6a739;
    background: linear-gradient(to left, #4335DE, #4335DE, #f4f8fd);
    border-radius: 1vw 9vw 1vw 9vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.box_servicos {
    width: 24vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    border-radius: 1vw;
    padding-top: 1vw;
    align-items: center;
}
.caixa_direita{
    border-radius: 1vw 9vw 1vw 1vw;
}
.caixa_esquerda{
    border-radius: 1vw 1vw 1vw 9vw;
}
.box_servicos:hover {
    transform: translateY(-8px);
}

.box_servicos h4 {
    font-size: 1.8vw;
    margin-bottom: 0.2vw;
    font-weight: 700;
}

.img_servicos {
    width: 10vw;
    margin-bottom: 0.5vw;
    height: 10vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* COMEÇO DA PÁGINA DE SUPORTE*/

.section_suporte {
    width: 100%;
    height: 120vh;
    background: linear-gradient(to bottom, #F7C95F, #FDB235);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_suporte {
    width: 85vw;
    height: 80vh;
    border-radius: 7vw 2vw 7vw 2vw;
    background-color: white;
    display: flex;
    justify-content: content;
    flex-direction: column;
    align-items: center;
    padding-top: 1vw;
}

.box_suporte {
    display: flex;
    justify-content: space-between;
    width: 75vw;
    margin-bottom: 1vw;
    height: 8vh;
}

.container_suporte h3 {
    font-size: 3vw;
    font-weight: 700;
    align-self: flex-start;
    margin-left: 5vw;
    color: #02033B;
}

.container_suporte select {
    width: 75vw;
    height: 8vh;
    cursor: pointer;
    border-radius: 0.5vw;
    padding-left: 3vw;
    font-size: 1.3vw;
    background-color: #02033B;
    border: none;
    color: #f3f4f6;
}

.container_suporte option {
    margin-left: 2vw;
    border-radius: 0.5vw;
}

.container_suporte textarea {
    resize: none;
    cursor: text;
    margin-top: 1vw;
    width: 75vw;
    border: none;
    height: 27vh;
    border-radius: 0.5vw;
    background-color: #f3f4f6;
    padding-left: 3vw;
    font-size: 1.3vw;
    padding-top: 1vw;
    font-weight: 400;
}

.container_suporte button {
    width: 16vw;
    height: 8vh;
    align-self: flex-start;
    margin-top: 1vw;
    font-size: 1.3vw;
    cursor: pointer;
    margin-left: 5vw;
    font-weight: 600;
    color: white;
    border-radius: 0.5vw;
    background-color: #4335DE;
    border: none;
}

.container_suporte input {
    width: 24.5vw;
    cursor: text;
    height: 8vh;
    background-size: 1.3vw;
    background-color: #f3f4f6;
    background-position: contain;
    padding-left: 3vw;
    font-size: 1.3vw;
    font-weight: 400;
    border-radius: 0.5vw;
    border: none;
}

.usuario {
    background: url('../assets/user_icon.png') no-repeat left 1vw center;
}

.email {
    background: url('../assets/email_icone.png') no-repeat left 1vw center;
}

.telefone {
    background: url('../assets/telephone_icon.png') no-repeat left 1vw center;
}

.imagem_suporte {
    border-radius: 50%;
    width: 65vw;
    margin-top: 2vw;
    overflow: hidden;
    height: 105vh;
    transform: translate(5vw, 1vw) scale(1);
    background-image: url(../assets/suporte.png);
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: -10px -20px 0px #4335DE;
}

.section_faq {
    width: 100%;
    height: 110vh;
    background: linear-gradient(to top, #F7C95F, #FDB235);
    display: flex;
    padding-top: 5vw;
    flex-direction: column;
    align-items: center;
}

.container_faq {
    width: 80vw;
    height: 80vh;
    background-color: white;
    display: flex;
    border-radius: 2vw;
    align-items: center;
    justify-content: space-around;
}

.esquerdo_faq {
    width: 38vw;
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.direito_faq {
    width: 38vw;
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box_faq {
    width: 38vw;
    overflow-y: scroll;
    height: 55vh;
    padding: 1vw;
}

.box_faq::-webkit-scrollbar {
    width: 2vw;
    /* Define a largura total da barra de rolagem */
}

/* Estiliza o fundo (trilha) da barra de rolagem */
.box_faq::-webkit-scrollbar-track {
    background: #f0f0f0;
    /* Cor do fundo da trilha */
    border-radius: 2vw;
    /* Cantos arredondados */
    margin: 10px;
    /* Margem para deixar menor que o container */
}

/* Estiliza o próprio scroll (alça que se move) */
.box_faq::-webkit-scrollbar-thumb {
    background: #ccc;
    /* Cor do scroll */
    border-radius: 2vw;
    /* Cantos arredondados */
    height: 20px;
    /* Tamanho menor do que a trilha */
    border: 2px solid #f0f0f0;
    /* Deixa um espaço entre o scroll e a trilha */
}

/* Ao passar o mouse na barra de rolagem */
.box_faq::-webkit-scrollbar-thumb:hover {
    background: #aaa;
    /* Muda a cor ao passar o mouse */
}

.box_resposta {
    width: 38vw;
    height: 55vh;
    background-color: #4335DE;
    font-size: 1.5vw;
    color: white;
    font-weight: 700;
    border-radius: 0.8vw;
    padding: 2vw;
}

.container_faq h4 {
    font-size: 5vw;
    font-weight: 600;
    margin-left: 1vw;
    color: #02033B;
    margin-bottom: 2vw;
}

.caixa_faq {
    width: 34vw;
    height: 15vh;
    display: flex;
    margin-bottom: 1vw;
    align-items: center;
    padding-left: 2vw;
    border-radius: 0.8vw;
    color: #02033B;
    background-color: #dcdcdc;
    cursor: pointer;
    font-size: 1.5vw;
}

.box_resposta div {
    font-weight: 700;

}

.title_sup {
    font-size: 4vw;
    margin-top: 9vw;
    color: #02033B;
    font-weight: 800;
}

.title_sup2 {
    font-size: 3vw;
    color: #02033B;
    font-weight: 600;
}


/*LOGIN*/
.corpo_login {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/fundo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 0;
    align-items: flex-end;
}

.logo_login {
    position: absolute;
    top: 0.5vw;
    cursor: pointer;
    left: 1vw;
    width: 10vw;
}

.section_login {
    width: 92vw;
    height: 87vh;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    z-index: 2;
}

.container_login {
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-right: 4vw;
    color: #4335DE;
    color: #02033B;
    font-size: 1.5vw;
    font-weight: 500;
}

.container_login h3 {
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-weight: 800;
    font-size: 3vw;
}

.container_login p {
    width: 30vw;
    text-align: left;
    font-size: 2vw;
    font-weight: 500;
}

.box_logo_login {
    display: flex;
    font-size: 3vw;
    font-weight: 900;
    margin-bottom: 2vw;
    margin-top: 5vw;
}

.box_logo_login h1 {
    font-weight: 900;
    color: #02033B;
}

.container_formulario_login {
    width: 40vw;
    height: 87vh;
    border-radius: 2vw 2vw 0 0;
    background-color: #ffff;
    background: linear-gradient(to bottom, white, white, #f1f1f1);
    box-shadow: -15px 15px 0px #4335DE;
    padding-top: 2vw;
    padding-right: 3vw;
    padding-left: 3vw;
    padding-bottom: 1vw;

    display: flex;
    color: #02033B;
    flex-direction: column;
    /* box-shadow: 7px 7px 0px #02033B; */

}

.container_formulario_login h6 {
    font-size: 1.5vw;
    color: #bebdbd;
    margin-bottom: 0.2vw
}

.container_formulario_login h2 {
    font-size: 2.4vw;
    font-weight: 800;
    margin-bottom: 0.5vw;
}

.email_input {
    background-color: white;
    padding: 0.3vw;
    position: absolute;
    margin-top: 5.8vw;
    margin-left: 1.1vw;
}

.senha_input {
    background-color: white;
    padding: 0.3vw;
    position: absolute;
    margin-top: 11.3vw;
    margin-left: 1.1vw;
}

.container_formulario_login input {
    margin-top: 1.5vw;
    cursor: text;
    border: 1px solid #02033B;
    background-color: none;
    border-radius: 0.8vw;
    padding: 1vw;
    width: 33.3vw;
    height: 60px;
}

.container_formulario_login a {
    align-self: end;
    cursor: pointer;
    margin-top: 0.8vw;
    font-size: 1vw;
    margin-bottom: 0.8vw;
}

.container_formulario_login button {
    border: none;
    margin-top: 1.2vw;
    cursor: pointer;
    color: white;
    background-color: #4335DE;
    font-size: 1.2vw;
    font-weight: 700;
    width: 33.5vw;
    height: 9vh;
    border-radius: 0.8vw;

}

.container_formulario_login button:hover {
    transform: scale(1.01);
    font-weight: 900;
}

.linha_login {
    width: 14vw;
    border-bottom: 0.1vw solid #02033b67;
    margin-bottom: 0.6vw;
}

.ou_login {
    margin-left: 1.8vw;
    justify-self: center;
    margin-right: 1.8vw;
}

.container_formulario_login h3 {
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    font-weight: 800;
}

.circle_login {
    width: 190vw;
    position: absolute;
    bottom: 1vw;
    left: -80vw;
    z-index: 1;
    transform: translateY(152vw);
}


/*CADASTRO*/


.corpo_cadastro {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/fundo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
    align-items: flex-end;
    padding-bottom: 2vw;
}

.section_cadastro {
    z-index: 1;
    width: 75vw;
    border-radius: 2vw;
    height: 85vh;
    display: flex;
    color: #02033B;
    background: linear-gradient(to bottom, white, white, #f1f1f1);
    padding-top: 1vw;
    flex-direction: column;
    align-items: center;
    box-shadow: -25px 15px 0px #4335DE;

}

.box_title_cadastro {
    align-self: flex-start;
    margin-left: 3vw;
}

.box_title_cadastro h6 {
    font-size: 1.5vw;
    color: #bebdbd;
    margin-bottom: 0.2vw
}

.box_title_cadastro h2 {
    font-size: 2.4vw;
    font-weight: 800;
    margin-bottom: 1vw;
}

.section_cadastro input {
    cursor: text;
    border: 1px solid #02033B;
    background-color: none;
    border-radius: 0.8vw;
    padding: 1vw;
    width: 33vw;
    height: 10.2vh;
}

.container_cadastro {
    margin-left: 1.2vw;
    width: 68vw;
    height: 45vh;
    display: grid;
    /* Ativa o Grid */
    grid-template-columns: repeat(2, 1fr);
    /* 2 colunas de tamanhos iguais */
    justify-content: space-between;

}

.box_input {
    width: 33vw;
    height: 12.5vh;
    display: flex;
    flex-direction: column;
}

.container_cadastro label {
    font-size: 1.5vw;
}

.mensagem_erro {
    width: 25vw;
    font-size: 1.3vw;
    padding-top: 0.5vw;
    height: 23vh;
    color: white;
    padding-left: 1vw;
    border-radius: 1.3vw;
    background-color: #02033B;
}

.mensagem_erro li {
    text-decoration: none;
    list-style: none;
}

.box_mensagem_enviar {
    display: flex;
    width: 70vw;
    justify-content: space-between;
    height: 22vh;
}

.box_mensagem_enviar button {
    border: none;
    background-color: #4335DE;
    font-size: 1.5vw;
    font-weight: 600;
    align-self: flex-end;
    justify-self: flex-end;
    width: 17vw;
    border-radius: 1.2vw;
    height: 10vh;
    color: white;
    cursor: pointer;
}

.box_mensagem_enviar button:hover {
    transform: scale(1.02);
}

.mensagem_erro_cnpj_email {
    width: 25vw;
    font-size: 1.3vw;
    padding-top: 1vw;
    height: 23vh;
    color: white;
    padding-left: 1vw;
    border-radius: 1.3vw;
    background-color: #02033B;
}

.logo_cadastro {
    position: absolute;
    top: 0.5vw;
    cursor: pointer;
    left: 1vw;
    width: 8vw;
}

.box_ja_tem_conta {
    display: flex;
    position: absolute;
    width: 25vw;
    height: 8vh;
    border-radius: 0.5vw;
    box-shadow: 5px 5px 0px #4335DE;
    top: 0.5vw;
    right: 1vw;
    background-color: white;
    justify-content: center;

    align-items: center;
}

.box_ja_tem_conta button {
    width: 10vw;
    margin-left: 1vw;
    border: none;
    border-radius: 1.2vw;
    height: 6.5vh;
    border: 2px solid #02033B;
    cursor: pointer;
    background: none;
}

.box_ja_tem_conta h2 {
    font-size: 1.3vw;
    font-weight: 600;
}

.box_ja_tem_conta button:hover {
    background-color: #4335DE;
    border: none;
    color: white;
    transform: scale(1.05);
    font-weight: 800;
}

/* Estilos para tablets e telas intermediárias como laptops*/
@media (max-width: 1024px) {

    .img_trem {
        width: 10vw;
    }

    .logo_texto {
        width: 13vw;
    }

    header p {
        font-size: 1.35vw;
    }

    .box_controle {
        width: 36vw;
    }

    .quero_ser_cliente {
        width: 20vw;
    }

    .ja_sou_cliente {
        width: 15vw;
    }

    .conteudo_sec_header p {
        font-size: 2.5vw;
    }

    .box_saiba {
        padding-top: 2vw;
        width: 43vw;
    }

    .box_saiba img {
        width: 36vw;
        margin-bottom: 2.5vw;
    }

    .button_conheca {
        width: 20vw;
    }

    .button_conheca p {
        font-size: 1.8vw;
    }

    .box_conheca p {
        font-size: 2.3vw;
    }

    .box_conheca h3 {
        margin-top: 8vw;
    }

    .div_controle p {
        font-size: 2.5vw;
        margin-bottom: 5vw;
    }

    .box_title_conheca {
        width: 25vw;
        height: 9vh;
        font-size: 2vw;
        margin-bottom: 2vw;
    }

    .section_home_suporte {
        height: 63vh;
    }

    .home_suporte_imagem {
        padding-top: 7vw;
        margin-top: 2vw;
        width: 25vw;
        height: 32vh;
    }

    .box_footer h4 {
        font-size: 1.8vw;
    }

    .box_footer p {
        font-size: 1.8vw;
    }

    .box_footer {
        height: 27vh;
        margin-bottom: 7vw;
    }

    .rede_social {
        width: 5vw;
    }

    .box_entrarcontato p {
        font-size: 1.8vw;
        margin-bottom: 1vw;
    }

    .box_entrarcontato span {
        font-size: 1.8vw;
        margin-bottom: 1vw;
    }

    .box_nome_email input {
        height: 9vh;
        font-size: 1.6vw;
    }

    .box_nome_email p {
        font-size: 2vw;
    }

    .box_formulario_footer textarea {
        height: 16vh;
        font-size: 1.6vw;
    }

    .box_formulario_footer p {
        font-size: 2vw;
    }

    .box_formulario_footer button {
        font-size: 2vw;
    }

    .conteudo_home_suporte span {
        width: 20vw;
    }

    nav {
        width: 10vw;
    }

    header p {
        font-size: 2vw;
        width: 10vw;
        margin-right: 1.5vw;
    }

    .div_entradas {
        width: 20vw;
    }

    .login {
        margin-left: -2vw;
        width: 10vw;
        height: 6vh;
    }

    .registrar {
        width: 15vw;
        height: 6vh;
    }

    .section_header_sobre {
        overflow: hidden;
    }

    .img_sec_header {
        width: 100vw;
    }

    .box_imagem_quem_somos {
        width: 38vw;
    }

    .box_imagem_quem_somos img {
        width: 33vw;
    }

    .box_imagem_quem_somos2 {
        width: 38vw;
    }

    .box_imagem_quem_somos2 img {
        width: 33vw;
    }

    .box_quem_somos2 h4 {
        font-size: 2vw;
    }

    .box_quem_somos h4 {
        font-size: 2vw;
    }

    .box_missao {
        height: 50vh;
        width: 35vw;
    }

    .box_missao h4 {
        font-size: 4vw;
        margin-bottom: 1vw;
    }

    .box_missao p {
        font-size: 1.8vw;
    }

    .blob_valores {
        width: 80vw;
        margin-top: -15vw;
    }

    .imagem_valores {
        width: 50vw;
        right: 12vw;
    }

    .title_valores {
        font-size: 4.4vw;
        right: 14vw;
    }

    .box_valores {
        width: 21.5vw;
        height: 28vh;
    }

    .box_valores p {
        font-size: 2vw;
    }

    .container_valores {
        height: 60vh;
    }

    .section_valores {
        height: 80vh;
    }

    .container_equipe {
        width: 40vw;
    }

    .imagem_equipe {
        width: 40vw;
    }

    .box_nome {
        font-size: 1.8vw;
    }

    .box_linkedin img {
        width: 5vw;
    }

    .section_equipe {
        height: 120vh;
    }

    .box_valores:hover {
        transform: scale(1);
    }

    .title_servicos {
        margin-top: 4vw;
        margin-bottom: 1vw;
    }

    .container_servicos {
        height: 80vh;
    }

    .section_servicos {
        height: 110vh;
    }

    .imagem_suporte {
        width: 100vw;
    }

    .caixa_faq {
        font-size: 2vw;
    }

    .box_resposta {
        font-size: 3vw;
    }

    .container_suporte h3 {
        font-size: 4vw;
        margin-bottom: 1vw;
    }

    .container_suporte input {
        height: 12vh;
        background-size: 2vw;
        padding-left: 6vw;
        font-size: 2vw;
    }

    .container_suporte select {
        margin-top: 3vw;
        height: 12vh;
        font-size: 2vw;
    }

    .container_suporte textarea {

        font-size: 2vw;
    }

    .container_suporte button {
        height: 12vh;
        width: 30vw;
        font-size: 2vw;
    }

    .circle_login {
        transform: translateY(132vw);
    }

    .box_logo_login {
        margin-top: -5vw;
    }
}

.menu-hamburguer {
    cursor: pointer;
    position: fixed;
    top: 3vh;
    left: 2.5vw;
    z-index: 1000;
    transition: 0s;
    display: none;
    color: #02033B;
    font-weight: 800;
    font-size: 6vw;
}

/* Esconder o menu hambúrguer quando o menu estiver aberto */
.menu-hamburguer.oculto {
    opacity: 0;
    pointer-events: none;
    /* Impede clique no botão escondido */
}

.menu-lateral {
    position: fixed;
    top: 0;
    left: -100%;
    /* Escondido à direita */
    width: 50vw;
    /* Ocupa toda a tela */
    height: 100vh;
    background-color: #02033B;
    z-index: 9;
    overflow: none;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20vw;
    padding-left: 5vw;
    border-radius: 0 0 8vw 0;
    color: #F7C95F;
    font-size: 5vw;
}

.fundo_escuro {
    width: 100vw;
    height: 1000vh;
    background: rgba(0, 0, 0, 0.747);
    /* Preto semi-transparente */
    backdrop-filter: blur(10px);
    /* Aplica desfoque ao fundo */
    -webkit-backdrop-filter: blur(10px);
    /* Compatibilidade com Safari */
    position: absolute;
    z-index: 8;
}

.menu_lateral div {
    display: flex;
}

.menu_lateral {
    z-index: 8;
}

.box_navegation_menu {
    display: flex;
    margin-bottom: 1.5vw;

}

.seta_amarela {
    width: 6vw;
    margin-right: 2vw;
    background-image: url(../assets/seta_amarela.png);
    background-size: cover;
    background-position: center;
}

.box_navegation_menu:hover .seta_amarela {
    width: 17vw;
}

.title_mobile {
    font-size: 6vw;
    margin-bottom: 4vw;
    font-weight: 700;
}

.box_navegation_menu:hover {
    color: white;
}

/* Quando o menu está aberto */
.menu-lateral.aberto {
    left: 0;
    /* Move o menu para a tela */
}

/* Botão de fechar */
.fechar-menu {
    position: fixed;
    top: 3vh;
    left: 2.5vw;
    font-size: 6vw;
    cursor: pointer;
}

.icone_guest {
    height: 8vh;
    width: 8vw;
    position: fixed;
    right: 2vw;
    top: 4vh;
    overflow: hidden;
    display: none;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #02033B;
}

.icone_guest img {
    height: 8vh;
}

/*Responsividade para celulares*/
@media (max-width: 768px) {
    .div_entradas {
        display: none;
    }

    .div_logo {
        margin-left: 9vw;
    }

    .img_trem {
        width: 15vw;
        height: auto;
    }

    .logo_texto {
        width: 18vw;
        height: auto;
    }

    header {
        height: 15vh;
        justify-content: space-between;
    }

    nav {
        display: none;
    }

    header p {
        display: none;
    }

    .menu-hamburguer {
        display: block;

    }

    .fechar-menu {
        display: none;
        color: white;
    }

    .icone_guest {
        display: flex;
    }


    /*Deixando o login responsivo*/
    .container_login {
        display: none;
    }

    .section_login {
        justify-content: center;
    }

    .container_formulario_login {
        width: 80vw;
        height: 88vh;
    }

    .container_formulario_login h6 {
        font-size: 3vw;
    }

    .container_formulario_login h2 {
        font-size: 5vw;
    }

    .container_formulario_login input {
        width: 73vw;
        height: 10vh;
        font-size: 3vw;
        border-radius: 1.8vw;
        margin-bottom: 2vw;
    }

    .container_formulario_login button {
        width: 73vw;
        height: 10vh;
        font-size: 3vw;

    }

    .container_formulario_login a {
        font-size: 3vw;
        border-bottom: 0.3vw solid #02033B;
        margin-bottom: 2vw;

    }

    .corpo_login {
        overflow: hidden;
    }

    .logo_login {
        width: 15vw;
    }

    .linha_login {
        width: 33vw;
        margin-bottom: 1.5vw
    }

    .ou_login {
        font-size: 3vw;
    }

    .container_formulario_login div {
        width: 73vw;
    }

    .container_formulario_login h3 {
        font-size: 4vw;
    }

    .container_formulario_login p {
        font-size: 2.1vw;
    }

    .email_input {
        margin-top: 9.5vw;
        margin-left: 2vw;
        font-size: 3.5vw;
    }

    .senha_input {
        margin-top: 22.5vw;
        margin-left: 2vw;
        font-size: 3.5vw;
    }

    .div_controle {
        margin-top: 20vw;
        margin-left: 5vw;
    }

    .div_controle h1 {
        font-size: 8vw;
        width: 65vw;
    }

    .div_controle p {
        font-size: 3.5vw;
        width: 55vw;

    }

    .box_controle {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 40vw;
        height: 50vh;
    }

    .quero_ser_cliente {
        width: 40vw;
        height: 40vh;
        border-radius: 5vw;
        margin-bottom: 2vw;
    }

    .box_controle a {
        height: 10vh;
        border-radius: 5vw;
        font-size: 3.2vw;
        font-weight: 700;
    }

    .ja_sou_cliente {
        width: 35vw;
    }

    .section_inicio {
        justify-content: flex-start;
        align-items: start;
        height: 120vh;
        background-position: -20vw;
    }

    .div_celular {
        align-self: flex-end;
        position: absolute;
        height: 50vh;
        right: 0;
        width: 50vw;
    }

    .ja_sou_cliente:hover {
        background-color: #02033B;
        color: white;
    }

    .quero_ser_cliente:hover {
        background-color: #02033B;
        color: white;
    }

    .div_celular img {
        width: 50vw;
        margin-left: -11vw;
    }

    .box_title_conheca {
        display: none;
    }

    .box_saiba {
        width: 52vw;
    }

    .box_saiba div {
        width: 30vw;
        height: 7vh;
    }

    .button_conheca p {
        font-size: 3.5vw;
    }

    .button_conheca span {
        font-size: 4vw;
    }

    .box_conheca {
        width: 45vw;
    }

    .box_conheca h3 {
        font-size: 4.8vw;
        width: 45vw;
    }

    .box_conheca p {
        font-size: 3vw;
        width: 42vw;
    }

    .box_saiba img {
        width: 45vw;
    }

    .home_suporte_imagem {
        width: 35vw;
        height: 40vh;
        padding-bottom: 10vw;
        padding-top: 1vw;
    }

    .homem_suporte {
        width: 80vw;
        margin-top: -8vw;
        margin-left: -25vw;
    }

    .conteudo_home_suporte {
        width: 40vw;
        margin-left: -3vw;
    }

    .conteudo_home_suporte h4 {
        font-size: 5vw;
        font-weight: 800;
        margin-bottom: 5vw;
    }

    .conteudo_home_suporte p {
        font-size: 2.5vw;
        margin-bottom: 5vw;
    }

    .conteudo_home_suporte span {
        width: 60vw;
        height: 10vh;
        margin-left: 1vw;
        font-size: 3vw;
        border-radius: 4vw;
    }

    .box_footer h4 {
        font-size: 2.2vw;
    }

    .box_footer img {
        width: 7vw;
    }

    .box_footer p {
        font-size: 2vw;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .box_formulario_footer textarea {
        height: 8vh;
    }

    .box_nome_email {
        display: flex;
        flex-direction: column;
    }

    .box_nome_email input {
        width: 100%;
        margin-bottom: 1vw;
    }

    .box_entrarcontato h3 {
        font-size: 3.2vw;
        font-weight: 800;
    }

    .box_entrarcontato p {
        font-size: 2vw;
    }

    .box_entrarcontato span {
        font-size: 2vw;
    }

    .rede_social {
        width: 5vw;
    }

    .box_formulario_footer p {
        font-size: 2.5vw;
    }

    .container_formulario {
        margin-top: -5vw;
    }

    .img_sec_header {
        height: 90vh;
        width: 80vw;
        transform: translate(40vw, 20vw) scale(1);

    }

    .section_header_sobre {
        background-position: -40vw;
    }

    .conteudo_sec_header h4 {
        font-size: 9vw;
        margin-top: 2vw;
        width: 50vw;
    }

    .conteudo_sec_header p {
        font-size: 3.3vw;

    }

    .conteudo_sec_header {
        position: absolute;

    }

    .title_sobre {
        font-size: 5vw;
    }

    .container_quem_somos {
        width: 90vw;
    }

    .box_quem_somos h4 {
        font-size: 2.5vw;

    }

    .box_imagem_quem_somos {
        width: 45vw;
        height: 50vh;
    }

    .box_imagem_quem_somos img {
        width: 40vw;
    }

    .box_imagem_quem_somos2 {
        width: 45vw;
        height: 50vh;
    }

    .box_imagem_quem_somos2 img {
        width: 40vw;
    }

    .container_quem_somos2 {
        width: 90vw;
    }

    .box_quem_somos2 h4 {
        font-size: 2.5vw;
    }

    .box_missao {
        width: 50vw;
        font-size: 5vw;
    }

    .box_missao h4 {
        font-size: 6vw;
    }

    .icones {
        width: 15vw;
    }

    .box_missao p {
        font-size: 2.2vw;
    }

    .blob_valores {
        left: -30vw;
        margin-top: -20vw;
        width: 100vw;
    }

    .container_valores {
        position: absolute;
        right: 5vw;
        width: 80vw;
        height: 75vh;
        margin-top: 7vw;
        margin-bottom: 5vw;
    }

    .title_valores {
        margin-top: -2vw;
        left: 7.6vw;
        font-size: 6vw;
    }

    .box_valores {
        width: 39vw;
        border: 2px solid #02033B;
        height: 33vh;
    }

    .imagem_valores {
        width: 70vw;
        right: 0;
    }

    .box_valores h4 {
        font-size: 4.5vw;
    }

    .box_valores p {
        font-size: 3.4vw;
        width: 30vw;
    }

    .caixa_equipe {
        display: none;
    }

    .section_equipe_mobile {
        display: flex;
    }

    .margem_caixa_equipe {
        font-size: 3vw;
    }

    .cargo {
        display: flex;
        align-items: center;
        font-size: 3.5vw;
        padding-left: 2vw;
    }

    .luz {
        background-image: url(../assets/joao.jpeg);
    }

    .viviane {
        background-image: url(../assets/vivi.jpeg);
    }

    .rafael {
        background-image: url(../assets/pavani.jpeg);
    }

    .leite {
        background-image: url(../assets/gustavo.jpeg);
    }

    .gabriel {
        background-image: url(../assets/padua.jpeg);
    }

    .guilherme {
        background-image: url(../assets/reboucas.jpeg);
    }

    .linkedin_mobile {
        width: 8vw;
        padding: 2vw;
        border: 2px solid #aaa;
        border-radius: 2vw;
        margin-right: 1vw;

    }

    .caixa_cargo_linkedin {
        width: 26vh;
        margin-top: 1vw;
        height: 8vh;
        display: flex;
        justify-content: center;


    }

    .nome_cargo {
        justify-content: flex-start;
    }

    .linkedin_link {
        justify-content: flex-end;
    }

    .section_equipe {
        padding-top: 14vw;
    }

    .section_equipe_mobile{
        display: flex !important;
    }
    .div_servicos{
        margin-top: 19vw;
        width: 45vw;
        height:50vh;
        position: absolute;
        right: 0;
    }
    .box_servicos{
        width: 43vw;
        height: 50vh;
       margin-bottom: 2vw;
       border-radius: 5vw 13vw 5vw 13vw;
    }
    .container_servicos{
        height: auto;   
        width: 95vw;
        border-radius: 5vw 14vw 5vw 14vw;  
        padding: 3vw; 
    }
    .section_servicos{
        height: auto;
        padding-bottom: 10vw;
    }
    .title_servicos{
        font-size: 8vw;
    }
    .img_servicos{
        width: 30vw;
        height: 15vh;
    }
    .box_servicos h4{
        font-size: 4.8vw;
    }
    .box_servicos p{
        width: 33vw;
        font-size: 2.8vw;
        font-weight: 600;
        margin-top: 1vw;
    }
    .conteudo_sec_header{
        z-index: 4;
    }
    .imagem_suporte{
        width: 56vw;
        margin-top: 19vw;
        height: 65vh;
        position: absolute;
        right: 0;
    }
    .section_header_sobre{
        position: relative;
    }
    .container_faq{
        width: 95vw;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: start;
        padding-left: 5vw;
        height: auto;
        padding-top: 1vw;
        border-radius: 4vw;
    }
    .box_faq{
        width: 85vw;
        height: 25vh;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        overflow-x: auto; /* Adiciona rolagem horizontal se necessário */
        white-space: nowrap;
        flex-direction: row;
    }
    .section_suporte{
        height: auto;
        
    }
    .container_suporte{
        margin-top: 20vw;
        width: 95vw;
        margin-bottom: 10vw;
        padding-top: 2vw;
    }
    .container_suporte h3{
        font-size: 6vw;
    }
    .box_suporte{
        width: 90vw;
        height: 13vh;
    }
    .box_suporte input{
        width: 29.5vw;
        height: 12vh;
        border-radius: 2vw;
        font-size: 2.4vw;
        background-size: 3vw;
    }
    .container_suporte select{
        width: 90vw;
        margin-top: 0;
        font-size: 3vw;
    }
    .container_suporte textarea{
        width: 90vw;
        margin-top: 2vw;
        font-size: 3vw;
    }
    .container_suporte button{
        width: 30vw;
        margin-right: 3vw;
        border-radius: 3vw;
        font-size: 3vw;
        align-self: flex-end;
    }
    .caixa_faq{
        width: 70vw;
        height: 20vh;
        margin-left: 1vw;
        padding: 2vw;
        font-size: 2.9vw;
        border-radius: 3vw;
    }
    .esquerdo_faq h4{
        display: none;
    }
    .esquerdo_faq{
        height: 30vw;
        justify-self: start;
    }
    .direito_faq{
        height: 60vh;
        width: 85vw;
    }
    .box_resposta{
        width: 85vw;
        font-size: 6vw;
        border-radius: 4vw;
    }
    .direito_faq h4{
        font-size: 7vw;
    }
    .title_sup{
        font-size: 6vw;
    }
    .title_sup2{
        font-size: 4.5vw;
    }
}


.section_equipe_mobile {
    width: 90vw;
    overflow-x: auto;
    /* Permite rolagem horizontal */
    height: 82vh;
    display: flex;
    /* Alinha os elementos lado a lado */
    flex-wrap: nowrap;
    /* Evita que os elementos quebrem */
    display: none;
    overflow-y: hidden;
    white-space: nowrap;
    /* Garante que os elementos fiquem em linha */
}

.box_equipe_mobile {
    width: 50vw;
    min-width: 30vw;
    /* Garante que cada item seja maior que a área visível */
    height: 70vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 3vw;
    background-repeat: no-repeat;
    margin-right: 10px;
    /* Espaçamento entre os itens */
    border: 3px solid #02033B;
    border-radius: 3vw;
    background-size: contain;
    background-position: 0 -10vw;
}

.container_equipe_mobile {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.margem_caixa_equipe {
    width: 100%;
    height: 15vh;
    background-color: #02033B;
    display: flex;
    justify-content: flex-start;
    padding-left: 3vw;
    color: white;
    font-size: 5vw;
    font-weight: 700;
    border-radius: 2vw;
    align-items: center;
}

.header-inativo {
    background: linear-gradient(to bottom, white, #E7EFFA);
    transition: background-color 0.3s ease-in-out;
    transition: top 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.header-ativo {
    background: linear-gradient(to bottom, #02033B, #040555, #060766, #080a92);
    transition: background-color 0.20s ease-in-out;
    transition: top 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.container_modal {
    width: 40vw;
    height: 50vh;
    background: linear-gradient(to bottom, white, #E7EFFA);
    position: fixed;
    top: -100px;
    z-index: 9;
    border-radius: 0 0 0 5vw;
    right: 0;
    padding-top: 2vw;
    padding-left: 2vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    align-items: center;
    justify-content: center;
}

.container_modal.ativo {
    display: flex;
    top: 14vw;
    opacity: 1;
}

.container_modal h5 {
    font-size: 5vw;
    font-weight: 800;
    color: #02033B;
    margin-bottom: 2vw;
}

.button_cadastrarse {
    width: 30vw;
    height: 8vh;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    font-size: 3vw;
    font-weight: 800;
    align-items: center;
    color: #02033B;
    margin-bottom: 3vw;
    margin-left: 4vw;
    border: 2px solid #02033B;
}

.button_fazerlogin {
    width: 30vw;
    height: 8vh;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    font-size: 3vw;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    color: #02033B;
    margin-left: 4vw;
    border: 2px solid #02033B;

    margin-top: 3vw;
}

.ou {
    font-size: 3vw;
}

.container_modal div {
    display: flex;
    justify-content: center;
    padding-left: 1vw;
    padding-right: 1vw;
    align-items: center;
}

.container_modal hr {
    width: 13vw;
    margin-right: 1vw;
    margin-left: 1vw;
    border-bottom: 0.1vw solid #02033b67;
}